In [3]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)

5
1
6
1.5

In [6]:
print(3**2)
print(2.5**2)
print(2**(1/2))

9
6.25
1.4142135623730951

In [8]:
print(11//2)
print(11%2)

5
1

In [13]:
print(1e16)
print(1e15)
print(1e-4)
print(1e-5)

1e+16
1000000000000000.0
0.0001
1e-05

In [22]:
print(bin(17))
print(oct(17))
print(hex(17))

print(0b10001)
print(0o21)
print(0x11)

0b10001
0o21
0x11
17
17
17

In [4]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(not True)
print(not False)

True
False
True
True
False
True

In [5]:
print(4<3)
print(4>3)
print(4<=3)
print(4>=3)
print(4==3)
print(4!=3)

False
True
False
True
False
True

### 문자열

In [14]:
print("'\"'를 활용한 String 형식")
print('\'를 활용한 String 형식')
str1="String 형식입니다."
print(str1)

'"'를 활용한 String 형식
'를 활용한 String 형식
String 형식입니다.

In [19]:
str2='''여러 행으로 문자를 표현할 수 있습니다.
'애국가'
작사 : "미상"
동해물과 백두산이 마르고 닳도록
'''
print(str2)

여러 행으로 문자를 표현할 수 있습니다.
'애국가'
작사 : "미상"
동해물과 백두산이 마르고 닳도록

In [23]:
str3 = "파이션은 매우 좋은 언어입니다."
str4 = "!!!"
print(str3 + str4)
print(str3 + str4 * 3)

파이션은 매우 좋은 언어입니다.!!!
파이션은 매우 좋은 언어입니다.!!!!!!!!!

### 리스트

In [26]:
list1 = [1,2,3,4,5,6,7]
print(list1)
type(list1)

[1, 2, 3, 4, 5, 6, 7]

list

In [109]:
list2 = [10,"String",30.6,True,'50',6,7]
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])
print(list2[4])
print(list2[-1])
print(list2[-2])

10
String
30.6
True
50
7
6

In [33]:
list3 = [10,"String",30.6,40,50,6,7]
print(list3)
list3[0] = "데이터를 변경합니다."
print(list3)

[10, 'String', 30.6, 40, 50, 6, 7]
['데이터를 변경합니다.', 'String', 30.6, 40, 50, 6, 7]

In [37]:
list4 = [1,True,'String']
list5 = [2,3,4]
print(list4+list5)
print(list4*3)

[1, True, 'String', 2, 3, 4]
[1, True, 'String', 1, True, 'String', 1, True, 'String']

In [116]:
list6=[1,2,3,4,5,6,7,8,9,10]
print(list6)
print(list6[::])
print(list6[3:5:])
print(list6[1:4:2])
print(list6[::-1])
print(list6[0:3])
print(list6[3:10])
print(list6[:3])
print(list6[3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5]
[2, 4]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]

In [43]:
list7=[1,2,3,4,5,6,7,8,9,10]
print(list7)
del list7[3]
print(list7)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [44]:
list8=[1,2,3,4,5,6,7,8,9,10]
print(list8)
print(4 in list8)
print(14 in list8)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
True
False

In [100]:
list9=["손흥민","조규성","황의조","김승규"]
print(list9)
list9.append("이강인")
print(list9)
list9.insert(3,"이강인")
print(list9)
list9.extend(["김영권","황인범"])
print(list9)
list9.remove("손흥민")
print(list9)
member=list9.pop()
print(member)
print(list9)
print(list9.index("이강인"))
print(list9.count("이강인"))
list9.sort()
print(list9)
list9.reverse()
print(list9)
list9.clear()
print(list9)

['손흥민', '조규성', '황의조', '김승규']
['손흥민', '조규성', '황의조', '김승규', '이강인']
['손흥민', '조규성', '황의조', '이강인', '김승규', '이강인']
['손흥민', '조규성', '황의조', '이강인', '김승규', '이강인', '김영권', '황인범']
['조규성', '황의조', '이강인', '김승규', '이강인', '김영권', '황인범']
황인범
['조규성', '황의조', '이강인', '김승규', '이강인', '김영권']
2
2
['김승규', '김영권', '이강인', '이강인', '조규성', '황의조']
['황의조', '조규성', '이강인', '이강인', '김영권', '김승규']
[]

### 튜플

In [104]:
tuple1 = (1,2,3,4,5,6,7)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5, 6, 7)

tuple

In [105]:
tuple2 = 1,2,3,4,5,6,7
print(tuple2)
type(tuple2)

(1, 2, 3, 4, 5, 6, 7)

tuple

In [106]:
tuple3 = 1,2,3,4,5,6,7
print(tuple3[3])

4

In [115]:
tuple4 = 1,
print(tuple4)
print(type(tuple4))
tuple5 = (2,)
print(tuple5)

(1,)
<class 'tuple'>
(2,)

In [124]:
tuplue5 = 1,2,3,4,5,6,7,8,9,10,3,4,3,5
print(tuplue5.index(3))
print(tuplue5.index(3,4))
print(tuplue5.count(4))

2
10
2

In [128]:
set1={1,2,3,4}
set2={1,2,2,2,3,4,5}
print(set1)
print(set2)
print(type(set1))

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
<class 'set'>

In [134]:
set1={1,2,3,4}
set2={2,2,2,3,4,5}

print(set1&set2)
print(set1|set2)
print(set1-set2)
print(set2-set1)

print(set1.intersection(set2))
print(set1.union(set2))
print(set1.intersection(set2))

{2, 3, 4}
{1, 2, 3, 4, 5}
{1}
{5}
{2, 3, 4}
{1, 2, 3, 4, 5}
{2, 3, 4}

In [2]:
list10 = [1,2,3]
print(list10)
print(type(list10))

tuple10=tuple(list10)
print(tuple10)
print(type(tuple10))

set10=set(tuple10)
print(set10)
print(type(set10))

set11=list(set10)
print(set11)
print(type(set11))

[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>
{1, 2, 3}
<class 'set'>
[1, 2, 3]
<class 'list'>

In [8]:
dict1={"성별":"남자","나이":20,"취미":["파이선","AI"]}
print(dict1)
print(type(dict1))

{'성별': '남자', '나이': 20, '취미': ['파이선', 'AI']}
<class 'dict'>

In [14]:
dict1={"성별":"남자","나이":20,"취미":["파이선","AI"]}
print(dict1["성별"])
print(dict1["나이"])
print(dict1["취미"])

남자
20
['파이선', 'AI']

In [15]:
dict1["나이"] = 21
print(dict1)

{'성별': '남자', '나이': 21, '취미': ['파이선', 'AI']}

In [17]:
del dict1["나이"]
print(dict1)

{'성별': '남자', '취미': ['파이선', 'AI']}

In [27]:
dic2={"성별":"남자","나이":20,"취미":["파이선","AI"]}
print(dic2)
print(dic2.keys())
print(dic2.values())
print(dic2.items())
dic2.update({"희망대학":"MIT"})
print(dic2)
dic2.clear()
print(dic2)

{'성별': '남자', '나이': 20, '취미': ['파이선', 'AI']}
dict_keys(['성별', '나이', '취미'])
dict_values(['남자', 20, ['파이선', 'AI']])
dict_items([('성별', '남자'), ('나이', 20), ('취미', ['파이선', 'AI'])])
{'성별': '남자', '나이': 20, '취미': ['파이선', 'AI'], '희망대학': 'MIT'}
{}

In [33]:
for i in range(10):
    print("i=",i)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [34]:
for i in range(2,10):
    print("i=",i)

i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [36]:
for i in range(2,10,2):
    print("i=",i)

i= 2
i= 4
i= 6
i= 8

In [37]:
list=[1,2,4,5,8]
for i in list:
    print("i=",i)

i= 1
i= 2
i= 4
i= 5
i= 8