In [1]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)

5
1
6
1.5

In [2]:
print(3**2)
print(2.5**2)
print(2**(1/2))

9
6.25
1.4142135623730951

In [3]:
print(11//2)
print(11%2)

5
1

In [4]:
print(1e16)
print(1e15)
print(1e-4)
print(1e-5)

1e+16
1000000000000000.0
0.0001
1e-05

In [5]:
print(bin(17))
print(oct(17))
print(hex(17))

print(0b10001)
print(0o21)
print(0x11)

0b10001
0o21
0x11
17
17
17

In [6]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(not True)
print(not False)

True
False
True
True
False
True

In [7]:
print(4<3)
print(4>3)
print(4<=3)
print(4>=3)
print(4==3)
print(4!=3)

False
True
False
True
False
True

### 문자열

In [8]:
print("'\"'를 활용한 String 형식")
print('\'를 활용한 String 형식')
str1="String 형식입니다."
print(str1)

'"'를 활용한 String 형식
'를 활용한 String 형식
String 형식입니다.

In [9]:
str2='''여러 행으로 문자를 표현할 수 있습니다.
'애국가'
작사 : "미상"
동해물과 백두산이 마르고 닳도록
'''
print(str2)

여러 행으로 문자를 표현할 수 있습니다.
'애국가'
작사 : "미상"
동해물과 백두산이 마르고 닳도록

In [10]:
str3 = "파이션은 매우 좋은 언어입니다."
str4 = "!!!"
print(str3 + str4)
print(str3 + str4 * 3)

파이션은 매우 좋은 언어입니다.!!!
파이션은 매우 좋은 언어입니다.!!!!!!!!!

### 리스트

In [11]:
list1 = [1,2,3,4,5,6,7]
print(list1)
type(list1)

[1, 2, 3, 4, 5, 6, 7]

list

In [12]:
list2 = [10,"String",30.6,True,'50',6,7]
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])
print(list2[4])
print(list2[-1])
print(list2[-2])

10
String
30.6
True
50
7
6

In [13]:
list3 = [10,"String",30.6,40,50,6,7]
print(list3)
list3[0] = "데이터를 변경합니다."
print(list3)

[10, 'String', 30.6, 40, 50, 6, 7]
['데이터를 변경합니다.', 'String', 30.6, 40, 50, 6, 7]

In [14]:
list4 = [1,True,'String']
list5 = [2,3,4]
print(list4+list5)
print(list4*3)

[1, True, 'String', 2, 3, 4]
[1, True, 'String', 1, True, 'String', 1, True, 'String']

In [15]:
list6=[1,2,3,4,5,6,7,8,9,10]
print(list6)
print(list6[::])
print(list6[3:5:])
print(list6[1:4:2])
print(list6[::-1])
print(list6[0:3])
print(list6[3:10])
print(list6[:3])
print(list6[3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5]
[2, 4]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]

In [16]:
list7=[1,2,3,4,5,6,7,8,9,10]
print(list7)
del list7[3]
print(list7)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [17]:
list8=[1,2,3,4,5,6,7,8,9,10]
print(list8)
print(4 in list8)
print(14 in list8)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
True
False

In [18]:
list9=["손흥민","조규성","황의조","김승규"]
print(list9)
list9.append("이강인")
print(list9)
list9.insert(3,"이강인")
print(list9)
list9.extend(["김영권","황인범"])
print(list9)
list9.remove("손흥민")
print(list9)
member=list9.pop()
print(member)
print(list9)
print(list9.index("이강인"))
print(list9.count("이강인"))
list9.sort()
print(list9)
list9.reverse()
print(list9)
list9.clear()
print(list9)

['손흥민', '조규성', '황의조', '김승규']
['손흥민', '조규성', '황의조', '김승규', '이강인']
['손흥민', '조규성', '황의조', '이강인', '김승규', '이강인']
['손흥민', '조규성', '황의조', '이강인', '김승규', '이강인', '김영권', '황인범']
['조규성', '황의조', '이강인', '김승규', '이강인', '김영권', '황인범']
황인범
['조규성', '황의조', '이강인', '김승규', '이강인', '김영권']
2
2
['김승규', '김영권', '이강인', '이강인', '조규성', '황의조']
['황의조', '조규성', '이강인', '이강인', '김영권', '김승규']
[]

In [19]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','명왕성']
print(solarsys)
del solarsys[-1]
print(solarsys)

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','명왕성']
del solarsys[1:7]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['태양', '천왕성', '해왕성', '명왕성']

In [20]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','명왕성']
moon = solarsys.index('지구')
solarsys.insert(moon,'달')
print(solarsys)
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','명왕성']
solarsys.extend('헬리혜성')
print(solarsys)
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','명왕성']
solarsys.extend(['헬리혜성'])
print(solarsys)

['태양', '수성', '금성', '달', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬', '리', '혜', '성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬리혜성']

### 튜플

In [21]:
tuple1 = (1,2,3,4,5,6,7)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5, 6, 7)

tuple

In [22]:
tuple2 = 1,2,3,4,5,6,7
print(tuple2)
type(tuple2)

(1, 2, 3, 4, 5, 6, 7)

tuple

In [23]:
tuple3 = 1,2,3,4,5,6,7
print(tuple3[3])

4

In [24]:
tuple4 = 1,
print(tuple4)
print(type(tuple4))
tuple5 = (2,)
print(tuple5)

(1,)
<class 'tuple'>
(2,)

In [25]:
tuplue5 = 1,2,3,4,5,6,7,8,9,10,3,4,3,5
print(tuplue5.index(3))
print(tuplue5.index(3,4))
print(tuplue5.count(4))

2
10
2

### SET

In [26]:
set1={1,2,3,4}
set2={1,2,2,2,3,4,5}
print(set1)
print(set2)
print(type(set1))

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
<class 'set'>

In [27]:
set1={1,2,3,4}
set2={2,2,2,3,4,5}

print(set1&set2)
print(set1|set2)
print(set1-set2)
print(set2-set1)

print(set1.intersection(set2))
print(set1.union(set2))
print(set1.intersection(set2))

{2, 3, 4}
{1, 2, 3, 4, 5}
{1}
{5}
{2, 3, 4}
{1, 2, 3, 4, 5}
{2, 3, 4}

In [28]:
BEST2018= set(["MESSI","ROLALDO","MBAPPE","HAZARD","KANTE","MODRIC","MARCELO","RAMOS","VARANE","ALVES","DEGEA"])
BEST2017= set(["MESSI","SUAREZ","ROLALDO","INIESTA","KROOS","MODRIC","MARCELO","RAMOS","PIQUE","ALVES","NEUER"])
print(BEST2018 & BEST2018)
print(BEST2018 - BEST2017)
print(BEST2018 | BEST2017)

{'MBAPPE', 'MESSI', 'DEGEA', 'ALVES', 'MARCELO', 'HAZARD', 'KANTE', 'RAMOS', 'ROLALDO', 'VARANE', 'MODRIC'}
{'MBAPPE', 'DEGEA', 'HAZARD', 'KANTE', 'VARANE'}
{'MESSI', 'INIESTA', 'NEUER', 'MARCELO', 'RAMOS', 'PIQUE', 'MBAPPE', 'DEGEA', 'ALVES', 'SUAREZ', 'KROOS', 'HAZARD', 'KANTE', 'ROLALDO', 'VARANE', 'MODRIC'}

### 변환

In [29]:
list10 = [1,2,3]
print(list10)
print(type(list10))

tuple10=tuple(list10)
print(tuple10)
print(type(tuple10))

set10=set(tuple10)
print(set10)
print(type(set10))

set11=list(set10)
print(set11)
print(type(set11))

[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>
{1, 2, 3}
<class 'set'>
[1, 2, 3]
<class 'list'>

### 딕셔너리

In [30]:
dict1={"성별":"남자","나이":20,"취미":["파이선","AI"]}
print(dict1)
print(type(dict1))

{'성별': '남자', '나이': 20, '취미': ['파이선', 'AI']}
<class 'dict'>

In [31]:
print(dict1["성별"])
print(dict1["나이"])
print(dict1["취미"])

남자
20
['파이선', 'AI']

In [32]:
dict1["나이"] = 21
print(dict1)

{'성별': '남자', '나이': 21, '취미': ['파이선', 'AI']}

In [33]:
del dict1["나이"]
print(dict1)

{'성별': '남자', '취미': ['파이선', 'AI']}

In [34]:
dic2={"성별":"남자","나이":20,"취미":["파이선","AI"]}
print(dic2)
print(dic2.keys())
print(dic2.values())
print(dic2.items())
dic2.update({"희망대학":"MIT"})
print(dic2)
dic2.clear()
print(dic2)

{'성별': '남자', '나이': 20, '취미': ['파이선', 'AI']}
dict_keys(['성별', '나이', '취미'])
dict_values(['남자', 20, ['파이선', 'AI']])
dict_items([('성별', '남자'), ('나이', 20), ('취미', ['파이선', 'AI'])])
{'성별': '남자', '나이': 20, '취미': ['파이선', 'AI'], '희망대학': 'MIT'}
{}

In [35]:
names={"오현민":10999, "이주경":2111, "권도훈":9778, "김아영":20245,"박서혜":27115,"안준한":5887,"박수정":7855}
print(names)
names["오현민"]=30000
print(names)
del names["이주경"]
print(names)
print(names.keys())
print(names.values())

{'오현민': 10999, '이주경': 2111, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}
{'오현민': 30000, '이주경': 2111, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}
{'오현민': 30000, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}
dict_keys(['오현민', '권도훈', '김아영', '박서혜', '안준한', '박수정'])
dict_values([30000, 9778, 20245, 27115, 5887, 7855])

## 제어문

### 조건문

In [36]:
score = int(input("점수를 입력하세요:"))
if score >= 60:
    print("통과")
else:
     print("과락")

통과

### 반복문(for)

In [37]:
for i in range(10):
    print("i=",i)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [38]:
for i in range(10):
    print("i=",i)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [39]:
for i in range(2,10):
    print("i=",i)

i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [40]:
for i in range(2,10,2):
    print("i=",i)

i= 2
i= 4
i= 6
i= 8

In [41]:
list2=[1,2,4,5,8]
for i in list2:
    print("i=",i)

i= 1
i= 2
i= 4
i= 5
i= 8

In [42]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
print(list(range(0,20,5)))

[0, 5, 10, 15]

In [44]:
print(list(range(-10,0, 2)))

[-10, -8, -6, -4, -2]

In [45]:
x_list=['x1','x2']
y_list=['y2','y2']
print("X,Y")
for x in x_list:
    for y in y_list:
        print(x,y)

X,Y
x1 y2
x1 y2
x2 y2
x2 y2

In [46]:
x=0
y=0
print("x,y")
while(y<20):
    x+=1
    y+=x
    print(x,y)

x,y
1 1
2 3
3 6
4 10
5 15
6 21

### 반복문(while)

In [47]:
a=0
while True:
    a+=1
    if(a>5):
        break
    print(a)

1
2
3
4
5

In [48]:
i=0
while(i<4):
    print(" "*i,"*"*(7-i*2))
    i += 1

 *******
  *****
   ***
    *

In [49]:
n=[1,3,5,7,9]
s=[]
for i in n:
    s.append(i**2)
    print(s)

[1]
[1, 9]
[1, 9, 25]
[1, 9, 25, 49]
[1, 9, 25, 49, 81]

In [50]:
n=[1,3,5,7,9]
s=[i**2 for i in n if i>=5]
print(s)

[25, 49, 81]

In [51]:
absent = [2 ,4]
no_book = [7]
for student in range(1, 11):
    if student in absent:
        continue
    elif student in no_book:
        print("오늘 수업은 여기까지. {0}은 교무실로 따라와".format(student))
        break
    print("{0}, 책을 읽어 보세요".format(student))

1, 책을 읽어 보세요
3, 책을 읽어 보세요
5, 책을 읽어 보세요
6, 책을 읽어 보세요
오늘 수업은 여기까지. 7은 교무실로 따라와

## 입력 과 출력

### 화면출력

In [52]:
N=4
print("{0:4d}".format(N))
print("{0:04d}".format(N))
N=12
print("{0:>4d}".format(N))
N=0.123456
print("{0:.4f}".format(N))
N=123456000
print("{0:,}".format(N))
N=0.4789
print("{0:.2%}".format(N))
N=95700000000
print("{0:.3e}".format(N))
N=17
print("{0:#x}".format(N))
print("{0:#o}".format(N))
print("{0:#b}".format(N))

   4
0004
  12
0.1235
123,456,000
47.89%
9.570e+10
0x11
0o21
0b10001

In [53]:
#방법1
print("나는 %d살 입니다." % 20)
print("나는 %s를 좋아해요" % "파이썬")
print("Apple 은 %c로 시작해요" % "A")
print("나는 %s살 입니다." % 20)
print("나는 %s색과 %s 색을 좋아해요" % ("파란","빨간"))

나는 20살 입니다.
나는 파이썬를 좋아해요
Apple 은 A로 시작해요
나는 20살 입니다.
나는 파란색과 빨간 색을 좋아해요

In [54]:
#방법2
print("나는 {}살 입니다.".format(20))
print("나는 {}색과 {} 색을 좋아해요" .format("파란","빨간"))
print("나는 {0}색과 {1} 색을 좋아해요" .format("파란","빨간"))
print("나는 {1}색과 {0} 색을 좋아해요" .format("파란","빨간"))

나는 20살 입니다.
나는 파란색과 빨간 색을 좋아해요
나는 파란색과 빨간 색을 좋아해요
나는 빨간색과 파란 색을 좋아해요

In [55]:
#방법3
print("나는 {age}살이며, {color} 색을 좋아해요".format(age=20, color="빨간"))

나는 20살이며, 빨간 색을 좋아해요

In [56]:
#방법4 (v3.6 이상)
age = 20
color = "빨간"
print(f"나는 {age}살이며, {color} 색을 좋아해요")

나는 20살이며, 빨간 색을 좋아해요

In [57]:
#\n \" 
print("백문의 불여일견\n백견이 불여일타")
print("저도 \"나도코딩\" 입니다.")
print("저도 \'나도코딩\' 입니다.")
print('저도 "나도코딩" 입니다.')
#\\
print("C:\\김경덕\\Python")
print("C:\김경덕\Python")
#\r
print("Red Apple\rPine")
#\b
print("Red Apple\bPine")
#\t
print("Red Apple\tPine")

백문의 불여일견
백견이 불여일타
저도 "나도코딩" 입니다.
저도 '나도코딩' 입니다.
저도 "나도코딩" 입니다.
C:\김경덕\Python
C:\김경덕\Python
PineApple
Red ApplPine
Red Apple	Pine

In [58]:
print("Best","python","course", sep="**")

Best**python**course

In [59]:
name="Jun"
tall = 185
print("Name:",name +", Tall:",tall)

Name: Jun, Tall: 185

In [60]:
print("Jun is my friend.")
print("He is smart")

Jun is my friend.
He is smart

In [61]:
print("Jun is my friend.", end="")
print("He is smart")

Jun is my friend.He is smart

In [62]:
print("%d"%10)
print("%d %s"%(10, " 정수 형태 입니다."))
print("{0} {1} {2}".format(1, 2, 3))

10
10  정수 형태 입니다.
1 2 3

In [63]:
r=5
pi=3.141592
print("반지름:%d, 원주율:%f" %(r, pi))

반지름:5, 원주율:3.141592

In [64]:
cellphone_0="test1"
cellphone_1="test2"
cellphone_2="test3"

print("cellphone : {0}". format(cellphone_0))
print("cellphone : {0} {1} {2}". format(cellphone_0, cellphone_1, cellphone_2))
print("cellphone : {2} {1} {2}". format(cellphone_0, cellphone_1, cellphone_2))
print("cellphone : {} {} {}". format(cellphone_0, cellphone_1, cellphone_2))

cellphone : test1
cellphone : test1 test2 test3
cellphone : test3 test2 test3
cellphone : test1 test2 test3

In [65]:
a=1.1223123128731923891829
print("{0:.2f}, {0:.5f}".format(a))

1.12, 1.12231

In [66]:
# 은행 대기 순번표
#001, 002, 003
for num in range(1, 11):
    print("대기번호 :" + str(num))
    print("대기번호 :" + str(num).zfill(3))

대기번호 :1
대기번호 :001
대기번호 :2
대기번호 :002
대기번호 :3
대기번호 :003
대기번호 :4
대기번호 :004
대기번호 :5
대기번호 :005
대기번호 :6
대기번호 :006
대기번호 :7
대기번호 :007
대기번호 :8
대기번호 :008
대기번호 :9
대기번호 :009
대기번호 :10
대기번호 :010

In [67]:
# 빈 자리는 빈공간으로 두고, 오른쪽 정렬을 하되, 총 10자리 공간을 확보
print("{0: >10}".format(500))

# # 양수는 + 표시, 음수일 떈 - 로 표시
print("{0: >+10}".format(500))
print("{0: >+10}".format(-500))

# # 왼쪽 정렬하고, 빈칸으로 _로 채움
print("{0:_<+10}".format(500))

# # 3자리 마다 콤마 찍어주기
print("{0:,}".format(500000000000))
# # 3자리 마다 콤마 찍어주기, +- 
print("{0:+,}".format(500000000000))
print("{0:+,}".format(-500000000000))
# # 3자리 마다 콤마 찍어주기, 부호 붙이기, 자리수 확보, 빈자리는 ^ 로 채우기
print("{0:^<+30,}".format(500000000000))

# # 소수점 출력
print("{0:f}".format(5/3))
# # 소수점 특정 자리수 까지만 표시 (소수점 3자리에서 반올림)
print("{0:.2f}".format(5/3))

       500
      +500
      -500
+500______
500,000,000,000
+500,000,000,000
-500,000,000,000
+500,000,000,000^^^^^^^^^^^^^^
1.666667
1.67

In [68]:
scores = {"수학":0, "영어":50, "코딩":100}
for subject, score in scores.items():
    print(subject.ljust(4), str(score).rjust(4), sep=":")

수학  :   0
영어  :  50
코딩  : 100

### 키보드 입력

In [69]:
num=input("1-100 사이 숫자를 입력하세요")
print("당신이 입력한 숫자는 {} 입니다.".format(num))

당신이 입력한 숫자는 40 입니다.

In [70]:
num=input("1-100 사이 숫자를 입력하세요")
area=int(num)**2
print("당신이 입력한 숫자의 제곱은 {} 입니다.".format(area))

당신이 입력한 숫자의 제곱은 900 입니다.

### 파일

In [71]:
f=open("file.txt","w")
f.write("This is my first time")
f.close()

In [72]:
!type file.txt

This is my first time

In [73]:
f=open("file.txt","r")
file_text=f.read()
f.close()
print(file_text)

This is my first time

In [74]:
f=open("file2.txt","w")
for num in range(6):
    format_string="2x{0}={1}\n".format(num, num*2)
    f.write(format_string)
f.close()

In [75]:
!type file2.txt

2x0=0
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10

In [76]:
f=open("file2.txt")
line=f.readline()
while line:
    print(line, end="")
    line=f.readline()
f.close()

2x0=0
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10

In [77]:
f=open("file2.txt")
lines=f.readlines()
f.close()
print(lines)

['2x0=0\n', '2x1=2\n', '2x2=4\n', '2x3=6\n', '2x4=8\n', '2x5=10\n']

In [78]:
f=open("file2.txt")
lines=f.readlines()
f.close()
for line in lines:
    print(line,end="")

2x0=0
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10

In [79]:
f=open("file2.txt")
for line in f.readlines():
    print(line,end="")
f.close()

2x0=0
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10

### 함수

In [80]:
def open_account():
    print("새로운 계좌가 생성되었습니다.")

open_account()

def deposit(balance, money):
    print("입금이 완료되었습니다.. 잔액은 {0} 원 입니다".format(balance+money))
    return balance + money

def withdraw(balance, money):
    if balance >= money:
        print("출금이 완료되었습니다. 잔액은 {0} 원입니다.".format(balance-money))
        return balance-money
    else:
        print("출금이 완료 되지 않았습니다. 잔액은 {0} 원입니다.".format(balance))
        return balance
    
def withdraw_night(balance, money):
    commission = 100
    return commission, balance - money - commission
balance = 0
balance = deposit(balance, 1000)
print(balance)
balance = deposit(balance, 2000)
print(balance)
balance = withdraw(balance, 500)
print(balance)
comcommission, balance = withdraw_night(balance, 500)
print("수수료는 {0} 원이고 잔액은{1} 입니다.".format(comcommission, balance))

새로운 계좌가 생성되었습니다.
입금이 완료되었습니다.. 잔액은 1000 원 입니다
1000
입금이 완료되었습니다.. 잔액은 3000 원 입니다
3000
출금이 완료되었습니다. 잔액은 2500 원입니다.
2500
수수료는 100 원이고 잔액은1900 입니다.

In [81]:
def profile(name, age=17, main_lang="파이썬"):
    print("이름 : {0}\t나이 : {1}\t주 사용 언어 : {2}"\
          .format(name, age, main_lang))
profile(name="유재석", age=20, main_lang="자바")
profile(name="박명수", main_lang="파이썬", age=25)
profile("김태호")

이름 : 유재석	나이 : 20	주 사용 언어 : 자바
이름 : 박명수	나이 : 25	주 사용 언어 : 파이썬
이름 : 김태호	나이 : 17	주 사용 언어 : 파이썬

In [82]:
def profile(name, age, lang1, lang2, lang3, lang4, lang5):
    print("이름 : {0}\t나이 : {1}\t".format(name, age), end=" ")
    print( lang1, lang2, lang3, lang4, lang5)
profile("유재석", 20, "Python", "Java", "C", "C++", "C#")
profile("김태호", 25, "Python", "Java", "", "", "")

이름 : 유재석	나이 : 20	 Python Java C C++ C#
이름 : 김태호	나이 : 25	 Python Java

In [83]:
def profile(name, age, *language):
    print("이름 : {0}\t나이 : {1}\t".format(name, age), end=" ")
    for lang in language:
        print(lang, end=" ")
    print()
profile("유재석", 20, "Python", "Java", "C", "C++", "C#", "SQL")
profile("김태호", 25, "Python", "Java")

이름 : 유재석	나이 : 20	 Python Java C C++ C# SQL
이름 : 김태호	나이 : 25	 Python Java

In [84]:
gun = 10

def checkpoint(soldiers):
    global gun #전역 공간에 있는 gun 사용
    gun = gun - soldiers
    print("[함수내] 남은 총 :{0}".format(gun))

print("전체 총 : {0}".format(gun))
checkpoint(2)
print("남은 총 : {0}".format(gun))

def checkpoint_ret(gun, soldiers):
    gun = gun - soldiers
    print("[함수내] 남은 총 :{0}".format(gun))
    return gun

print("전체 총 : {0}".format(gun))
gun = checkpoint_ret(gun, 2)
print("남은 총 : {0}".format(gun))

전체 총 : 10
[함수내] 남은 총 :8
남은 총 : 8
전체 총 : 8
[함수내] 남은 총 :6
남은 총 : 6

In [85]:
# 표준 체중을 구하는 프로그램
# 남자 : 키 * 키 * 22
# 여자 : 키 * 키 * 21
# 조건1 : 표준 체중은 별도의 함수 내에서 계산
# 함수명 : std_weight
# 전달값 : 키(height), 성별(gender)
# 조건2 : 표준 체중은 소수점 둘째자리까지 표시
# 출력예시 : 키 175cm 남자의 표준 체중은 67.38kg 입니다.

def std_weight(height, gender):
    if gender == "남자":
        return height / 100 * height / 100 * 22
    else:
        return height / 100 * height / 100 * 21
    
height = 175
gender = "남자"
weight = round(std_weight(height, gender),2)
print("키 {0}cm {1}의 표준 체중은 {2}kg 입니다.".format(height, gender, weight))

키 175cm 남자의 표준 체중은 67.38kg 입니다.

### 문자열과 텍스트

In [86]:
str1="에스프레소 아메리카노 카페라데 카푸치노"
print(str1.split())
print(str1.split(" ",2))

['에스프레소', '아메리카노', '카페라데', '카푸치노']
['에스프레소', '아메리카노', '카페라데 카푸치노']

In [87]:
str1="에스프레소 아메리카노 카페라데 카푸치노"
print(str1.split())
print(str1.split(" ",2))

['에스프레소', '아메리카노', '카페라데', '카푸치노']
['에스프레소', '아메리카노', '카페라데 카푸치노']

In [88]:
str_list=["부산광역시","남구","용소로","14번길10"]
print(" ".join(str_list))
print("-".join(str_list))

부산광역시 남구 용소로 14번길10
부산광역시-남구-용소로-14번길10

In [89]:
str1="Hello python a python python python"
search_str1="python"
prefix="python"
print(str1.find(search_str, 10))
print(str1.count(search_str))
print(str1.startswith(prefix,0))
print(str1.startswith("Hello",0))
print(str1.endswith(prefix,0))
print(str1.replace(search_str,"java",2))

NameError: name 'search_str' is not defined

### 모듈

In [ ]:
import random
print(random.random())
print(random.randint(1,6))
print(random.randrange(0,10,2))
print(random.choice([1,2,3]))
print(random.choice(["사과","배","복숭아"]))
print(random.sample(["사과","배","복숭아","포도"],2))
print(random.sample(range(1,10),2))

In [ ]:
from random import *
users = range(1, 20)
print(users)
users = list(users)
print(users)
shuffle(users)
print(users)

In [ ]:
#####################################################
#조건1 : 승객별 운행 소요 시간은 5~50분 사아의 난수로 정해짐
#조건2 : 당신은 소요 시간 5~15분 사이의 승객만 매칭해야 합니다.
# [o] 1번째 손님(소요시간 : 15분)
# [ ] 1번째 손님(소요시간 : 50분)
# [o] 1번째 손님(소요시간 : 5분)

from random import *
cnt = 0
for i in range(1,10):
    time = randrange(5, 31)
    if 5 <= time <= 15:
        print("[O] {0} 번째 손님 (소요시간 : {1}분)".format(i, time))
        cnt += 1
    else:
        print("[ ] {0} 번째 손님 (소요시간 : {1}분)".format(i, time))
print("탐승승객 :{0}".format(cnt))

In [ ]:
import datetime
print(datetime.timedelta(days=5, hours=17, minutes=30))
print(datetime.date.today())
print(datetime.date(2019, 12, 25))

In [ ]:
import calendar
print(calendar.calendar(2023))

In [ ]:

print(calendar.month(2023,9))
print(calendar.monthrange(2023,9))
print(calendar.firstweekday())
calendar.setfirstweekday(5)
print(calendar.firstweekday())
print(calendar.weekday(2023,9,5))
print(calendar.isleap(2023))
print(calendar.isleap(2024))
print(calendar.isleap(2025))
print(calendar.isleap(2026))

In [ ]:
print(calendar.monthrange(2023,9))