### 구구단 출력하기

In [89]:
n = 2
for i in range(1,10):
    print("{0:<2} * {1:<2} = {2:<2}". format(n, i, n*i))

2  * 1  = 2
2  * 2  = 4
2  * 3  = 6
2  * 4  = 8
2  * 5  = 10
2  * 6  = 12
2  * 7  = 14
2  * 8  = 16
2  * 9  = 18

### 구구단 출력 함수 만들기

In [5]:
def gugudan(n):
    for i in range(1,10):
        print("{0} * {1} = {2}". format(n, i, n*i)) 
gugudan(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 구구단 2 ~ 9단 까지 출력

In [90]:
def gugudan(n):
    for i in range(1,10):
        print("{0:<2} * {1:<2} = {2:<2}".format(n, i, n*i),end='\t') 
for n in range(1,10):
    gugudan(n)
    print()

1  * 1  = 1 	1  * 2  = 2 	1  * 3  = 3 	1  * 4  = 4 	1  * 5  = 5 	1  * 6  = 6 	1  * 7  = 7 	1  * 8  = 8 	1  * 9  = 9
2  * 1  = 2 	2  * 2  = 4 	2  * 3  = 6 	2  * 4  = 8 	2  * 5  = 10	2  * 6  = 12	2  * 7  = 14	2  * 8  = 16	2  * 9  = 18
3  * 1  = 3 	3  * 2  = 6 	3  * 3  = 9 	3  * 4  = 12	3  * 5  = 15	3  * 6  = 18	3  * 7  = 21	3  * 8  = 24	3  * 9  = 27
4  * 1  = 4 	4  * 2  = 8 	4  * 3  = 12	4  * 4  = 16	4  * 5  = 20	4  * 6  = 24	4  * 7  = 28	4  * 8  = 32	4  * 9  = 36
5  * 1  = 5 	5  * 2  = 10	5  * 3  = 15	5  * 4  = 20	5  * 5  = 25	5  * 6  = 30	5  * 7  = 35	5  * 8  = 40	5  * 9  = 45
6  * 1  = 6 	6  * 2  = 12	6  * 3  = 18	6  * 4  = 24	6  * 5  = 30	6  * 6  = 36	6  * 7  = 42	6  * 8  = 48	6  * 9  = 54
7  * 1  = 7 	7  * 2  = 14	7  * 3  = 21	7  * 4  = 28	7  * 5  = 35	7  * 6  = 42	7  * 7  = 49	7  * 8  = 56	7  * 9  = 63
8  * 1  = 8 	8  * 2  = 16	8  * 3  = 24	8  * 4  = 32	8  * 5  = 40	8  * 6  = 48	8  * 7  = 56	8  * 8  = 64	8  * 9  = 72
9  * 1  = 9 	9  * 2  = 18	9  * 3  = 27	9  * 4  = 36	9  * 5  = 45	9  * 6  = 54	9  * 7  = 63	9  * 8  = 72	9  * 9  = 81

In [ ]:
### all, any, ord, chr

In [40]:
print(any([1,2,3,4,5]))
print(any([1,2,3,4,5,0]))
print(any([]))
print(any([0]))
print('---')
print(all([1,2,3,4,5]))
print(all([1,2,3,4,5,0]))
print(all([]))
print(all([0]))

print('a=',ord('a'))
print('97=',chr(97))

True
True
False
False
---
True
False
True
False
a= 97
97= a

In [41]:
### dir
a = [1,2,3]
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [43]:
### enumerate
lst = ['lion','bear','hippo','mouse']
for i,n in enumerate(lst):
    print (i, n)

0 lion
1 bear
2 hippo
3 mouse

In [44]:
tup = ('lion','bear','hippo','mouse')
for i,n in enumerate(tup):
    print (i, n)

0 lion
1 bear
2 hippo
3 mouse

In [45]:
str1 = "Hello python"
for i,n in enumerate(str1):
    print (i, n)

0 H
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [48]:
### eval()

print(eval('3'+'4'))
print(eval('3+4'))

34
7

In [50]:
### hex()
print(hex(15))
print(hex(10))

0xf
0xa

In [54]:
### obj
obj = 100
print(type(obj))
print(id(obj))
obj2 = obj
print(type(obj2))
print(id(obj2))

<class 'int'>
140722204286856
<class 'int'>
140722204286856

In [59]:
w = 'abcde'
print(type(w))
print(id(w))
print(id('abcde'))

w1 = w
print(id(w1))

<class 'str'>
2685838873264
2685838873264
2685838873264

In [61]:
lst = [1,2,3,4,5]
print(id(lst))
print(id([1,2,3,4,5]))

2685835618496
2685838872704
2685835618496

In [62]:
tup = (1,2,3,4,5)
print(id(tup))
print(id((1,2,3,4,5)))

2685838847616
2685838749392

In [65]:
### filter
def _odd(x):
    result = []
    for i in x:
        if i%2 == 0:
            result.append(i)
    return result

lst = [0,1,2,3,4,5,6,7,8,9]
print(_odd(lst))

[0, 2, 4, 6, 8]

In [69]:
def _odd2(x):
    return x%2 != 0
lst = [0,1,2,3,4,5,6,7,8,9]
print(list(filter(_odd2, lst)))

[1, 3, 5, 7, 9]

In [72]:
a=input("Enter the number :")
print(a)
type(a)

100

str

In [79]:
### isinstance()
class Test:
    pass

a=Test()
print(type(a))
print(isinstance(a, Test))
b=100
print(type(b))
print(isinstance(b,Test))
x=[1,2,3,4,5]
print(isinstance(x,list))
print(isinstance(x,tuple))

<class '__main__.Test'>
True
<class 'int'>
False
True
False

### sum

In [23]:
a=[1,2,3,4,5]
sum(a)

15

### zip

In [19]:
a=[1,2,3,4,5]
b=['a','b','c','d','e']

print(list(zip(a,b)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [20]:
x=[1,2,3]
y=['a','b','c','d','e']

print(list(zip(x,y)))

[(1, 'a'), (2, 'b'), (3, 'c')]

### pow

In [25]:
pow(2,4)

16

In [28]:
pow(2,1/2)

1.4142135623730951

In [84]:
lst = range(10)
list(filter(lambda x:x%2,lst))

[1, 3, 5, 7, 9]

In [87]:
print(divmod(1212,10))

(121, 2)