### Chapter 1: 파이썬 소개와 설치하기

### Chapter 2: 파이썬의 변수

In [3]:
x = 10

In [4]:
# 정수형 변수
my_int = 7
print(my_int)
print(type(my_int)) # <class 'int'>

# 실수형 변수
my_float = 7.5
print(my_float)
print(type(my_float)) # <class 'float'>

# 문자열형 변수
my_str = "Hello Python"
print(my_str)
print(type(my_str)) # <class 'str'>

# 부울형 변수 
my_bool = True 
print(my_bool)
print(type(my_bool)) # <class 'bool'>

7
<class 'int'>
7.5
<class 'float'>
Hello Python
<class 'str'>
True
<class 'bool'>

In [5]:
x = 10     # x 라는 이름의 정수 형태의 메모리 공간에 처음으로 값을 할당합니다.
print(x)

x = "ten"   # x 라는 이름의 메모리 공간에 새로운 값을 할당합니다.
            # 이전에 있던 10은 사라지고 "ten"이라는 새로운 값이 할당됩니다.
print(x)

10
ten

### Chapter 3: 파이썬의 연산자

In [7]:
x = 10
y = 3

print(x + y)   # 결과: 13
print(x - y)   # 결과: 7
print(x * y)   # 결과: 30
print(x / y)   # 결과: 3.333333333333335 (실수)
print(x // y)  # 결과: 3 (정수)
print(x % y)   # 결과: 1 (나머지)
print(x ** y)  # 결과: 1000 (거듭제곱)

13
7
30
3.3333333333333335
3
1
1000

In [8]:
x =10
y =20

print( x ==y )    # False
print( x !=y )    # True
print( x <y )     # True
print( x >y )     # False
print( x <=y )    # True

False
True
True
False
True

### Chapter 4: 조건문

In [9]:
x = 10

if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is positive

In [10]:
word = "hello"

if len(word) < 5:
    print("word length is less than 5")
elif len(word) == 5:
    print("word length is exactly 5")
else:
    print("word length is greater than 5")

word length is exactly 5

In [11]:
age = 20
money = 5000

if age >=18 and money >=5000:
   print("Eligible for entry.")
else: 
   print("Not eligible for entry.")

Eligible for entry.

### Chapter 5: 반복문

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [17]:
# range(stop)
for i in range(5):
    print(i)  
# Output: 0, 1, 2, 3, 4

0
1
2
3
4

In [15]:
# range(start, stop)
for i in range(5,10):
    print(i)
# Output: 5,6,7,8

5
6
7
8
9

In [16]:
# range(start , stop , step)
for i in range(0 ,10 ,2): 
    print(i)
# Output: 0 ,2 ,4 ,6 ,8

0
2
4
6
8

In [18]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [19]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [20]:
countdown = 10

while countdown > 0:
    print(countdown)
    countdown -= 1

print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

In [21]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

In [22]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

In [23]:
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [24]:
numbers = [1, 2, 3, -4, -5]
positive_numbers = [num for num in numbers if num > 0]
print(positive_numbers)

[1, 2, 3]

### Chapter 6: 자료형

In [26]:
x = 10    # int
y = 3.14  # float
z = 2j    # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
print(bin(10))  # Output: '0b1010'

0b1010

In [28]:
print(oct(10))  # Output: '0o12'

0o12

In [29]:
print(hex(255))   # Output: '0xff'

0xff

In [30]:
print(int('1010', base=2))   # Output: 10 (from binary)
print(int('12', base=8))     # Output: 10 (from octal)
print(int('ff', base=16))    # Output: 255 (from hexadecimal)

10
10
255

#### 6.2 문자열:

In [31]:
s = "Hello, World!"
print(s)
print(type(s))

Hello, World!
<class 'str'>

In [32]:
# 작은 따옴표로 둘러싸인 문자열
str1 = 'Hello World!'
print(str1)   # Output: Hello World!

# 큰 따옴표로 둘러싸인 문자열
str2 = "Hello Python"
print(str2)   # Output: Hello Python

Hello World!
Hello Python

In [33]:
# 삼중 따옴표로 여러 줄의 문자열을 생성
str3 = """This is a 
multiple lines 
string."""
print(str3)

This is a
multiple lines
string.

In [34]:
# + 연산자를 사용하여 문자열 결합하기
greeting = "Hello" + " " + "World"
print(greeting)  # Output: Hello World

# * 연산자를 사용하여 동일한 문자열 반복하기 
repeated_string = "Python" * 3 
print(repeated_string)  # Output: PythonPythonPython

Hello World
PythonPythonPython

In [35]:
s = ' hello world '

# 공백 제거 (strip)
print(s.strip())  # 'hello world'

# 대문자로 변환 (upper)
print(s.upper())  # ' HELLO WORLD '

# 소문자로 변환 (lower)
print(s.lower())  # ' hello world '

# 첫 글자만 대문자로 변환 (capitalize)
print(s.capitalize())  # ' hello world '

# 각 단어의 첫 글자만 대문자로 변환 (title)
print(s.title())  # ' Hello World '

hello world
 HELLO WORLD
 hello world
 hello world
 Hello World

#### 6.3 리스트

In [36]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(type(fruits))

['apple', 'banana', 'cherry']
<class 'list'>

In [39]:
# 숫자로 구성된 리스트
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [40]:
# 문자열로 구성된 리스트
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [41]:
# 다양한 타입으로 구성된 리스트
mixed = [1, "apple", True]
print(mixed)

[1, 'apple', True]

In [42]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # 'apple'
print(fruits[1])  # 'banana'
print(fruits[-1]) # 'cherry' (음수 인덱스는 뒤에서부터 카운트)

apple
banana
cherry

In [43]:
numbers = [0, 1, 2, 3, 4, 5]

# Start at index 1 and go up to but not including index 4
print(numbers[1:4])   # Output: [1, 2 ,3]

# Start at index 0 and go up to the end of the list
print(numbers[:])     # Output: [0 ,1 ,2 ,3 ,4 ,5]

# Start at index 2 and go up to but not including the last element
print(numbers[2:-1])   # Output: [2 ,3 ,4]

# Start at the beginning and go up to but not including index -2 (third from last)
print(numbers[:-2])    # Output:[0 ,1 ,2 ,3]

# Start at index -3 (third from last) and go up to the end of the list
print(numbers[-3:])    # Output:[3 ,4 ,5]

# Use a step of two -- i.e., every other element
print(numbers[::2])    # Output:[0, 2, 4]

[1, 2, 3]
[0, 1, 2, 3, 4, 5]
[2, 3, 4]
[0, 1, 2, 3]
[3, 4, 5]
[0, 2, 4]

In [44]:
fruits = ["apple", "banana"]

# 항목 추가하기 - append() 함수 사용 
fruits.append("cherry")
print(fruits)   # ['apple', 'banana', 'cherry']

# 특정 위치에 항목 삽입하기 - insert() 함수 사용 
fruits.insert(0,"orange")
print(fruits)   # ['orange', 'apple', 'banana', 'cherry']

# 항목 삭제하기 - remove() 함수 사용 
fruits.remove("banana")
print(fruits)   # ['orange', 'apple', 'cherry']

# 특정 위치의 항목 삭제하기 - del 명령어 혹은 pop() 함수 사용 
del fruits[0]   
print(fruits)   # ['apple', 'cherry']
popped_item= fruits.pop(0)
print(popped_item)    #' apple'

['apple', 'banana', 'cherry']
['orange', 'apple', 'banana', 'cherry']
['orange', 'apple', 'cherry']
['apple', 'cherry']
apple

#### 6.4 튜플

In [45]:
fruits_tuple = ("apple", "banana", "cherry")
print(fruits_tuple)
print(type(fruits_tuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [46]:
t = (1, 2, 3)
print(t)   # Output: (1, 2, 3)

(1, 2, 3)

In [47]:
t = ('apple', 'banana', 100, 200.5)
print(t)   # Output: ('apple', 'banana', 100, 200.5)

('apple', 'banana', 100, 200.5)

In [48]:
t = ('apple', 'banana', 'cherry')
print(t[1])   # Output: banana

banana

In [49]:
t = ('apple', 'banana', 'cherry')
print(t[-1])   # Output: cherry

cherry

In [50]:
t = (1, 2, 3, 4, 5)
print(t[1:4])   # Output: (2, 3, 4)

(2, 3, 4)

In [51]:
t = ('apple', 'banana', 'cherry')
if "banana" in t:
    print("Yes")    # Output: Yes 
else:
    print("No")

Yes

In [52]:
single_tuple = ("hello", )
print(type(single_tuple))   # Output: <class 'tuple'>
not_a_tuple = ("hello")
print(type(not_a_tuple))    # Output: <class 'str'>

<class 'tuple'>
<class 'str'>

In [53]:
t = (1,2,2)
print(t.count(2)) # output : 2
print(t.index(2)) # output : 1

2
1

#### 6.5 집합:

In [54]:
fruits_set = {"apple", "banana", "cherry"}
print(fruits_set)
print(type(fruits_set))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [55]:
s = {1, 2, 3}
print(s)   # Output: {1, 2, 3}

{1, 2, 3}

In [56]:
s = {1, 2, 3, 2}
print(s)   # Output: {1, 2, 3}

{1, 2, 3}

In [57]:
list_with_duplicates = [1, 2, 2]
unique_set = set(list_with_duplicates)
print(unique_set)   # Output: {1 ,2}

{1, 2}

In [58]:
s = {1 ,2 ,3}
s.add(4)
print(s)    # Output: {1 ,2 ,3 ,4}

{1, 2, 3, 4}

In [59]:
s = {1 ,2 ,3}
s.update([4 ,5])
print(s)    # Output: {1 ,2 ,3 ,4 ,5}

{1, 2, 3, 4, 5}

In [60]:
s = {1, 2, 3}

# remove() example:
s.remove(3)
print(s)    # Output: {1 .0.0., .0.0.0., .0.02}

# discard() example:
s.discard(10)
print(s)    # No error occurs and the set remains as is.

{1, 2}
{1, 2}

In [61]:
a = {'apple', 'banana', 'cherry'}
b = {'banana', 'cherry', 'durian'}

# Intersection (교집합)
print(a & b)  # or a.intersection(b)
# Output: {'banana', 'cherry'}

# Union (합집합)
print(a | b)  # or a.union(b)
# Output: {'apple', 'banana', 'cherry', 'durian'}

# Difference (차집합; a에서 b를 뺀 집합)
print(a - b)  # or a.difference(b)
# Output: {'apple'}

# Symmetric Difference (대칭차; 어느 한 쪽에만 있는 요소들의 모임)
print(a ^ b)  # or a.symmetric_difference(b)
# Output: {'apple', 'durian'}

{'cherry', 'banana'}
{'apple', 'durian', 'banana', 'cherry'}
{'apple'}
{'apple', 'durian'}

#### 6.6 딕셔너리:

In [62]:
person = {
    'name': 'John',
    'age': 30,
    'country': 'USA'
}
  
print(person)
print(type(person))

{'name': 'John', 'age': 30, 'country': 'USA'}
<class 'dict'>

In [63]:
person = {"name": "Alice", "age": 20}
print(person)   # Output: {'name': 'Alice', 'age': 20}

{'name': 'Alice', 'age': 20}

In [64]:
print(person["name"])   # Output: Alice

Alice

In [65]:
person["city"] = "Seoul"
print(person)   # Output: {'name': 'Alice', 'age': 20, 'city': 'Seoul'}

{'name': 'Alice', 'age': 20, 'city': 'Seoul'}

In [66]:
del person["age"]
print(person)   # Output: {'name': 'Alice', 'city': 'Seoul'}

{'name': 'Alice', 'city': 'Seoul'}

In [67]:
print(person.keys())    # Output: dict_keys(['name', 'city'])
print(person.values())  # Output: dict_values(['Alice', 'Seoul'])
print(person.items())   # Output: dict_items([('name', 'Alice'), ('city', 'Seoul')])

dict_keys(['name', 'city'])
dict_values(['Alice', 'Seoul'])
dict_items([('name', 'Alice'), ('city', 'Seoul')])

In [68]:
if "city" in person:
    print("City is defined")
# Output : City is defined

if "country" not in person:
    print("Country is not defined")
#Output : Country is not defined

City is defined
Country is not defined

In [69]:
d = {"name": "Alice", "age": 20}
d.clear()
print(d)  # Output: {}

{}

In [70]:
d = {"name": "Alice", "age": 20}
new_dict = d.copy()
print(new_dict)  # Output: {'name': 'Alice', 'age': 20}

{'name': 'Alice', 'age': 20}

In [71]:
keys = ['a', 'b', 'c']
new_dict = dict.fromkeys(keys, 0)
print(new_dict)  # Output: {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}

In [72]:
d = {"name": "Alice", "age": 20}
print(d.get('name'))       # Output: Alice
print(d.get('address'))     # Output: None
print(d.get('address', 'N/A'))     # Output: N/A (default value)

Alice
None
N/A

In [73]:
d = {"name": "Alice", "age": 20}
print(d.items())  # Output: dict_items([('name', 'Alice'), ('age', 20)])

dict_items([('name', 'Alice'), ('age', 20)])

In [74]:
d = {"name": "Alice", "age": 20}
print(d.keys())  # Output: dict_keys(['name', 'age'])

dict_keys(['name', 'age'])

In [75]:
d = {"name": "Alice", "age": 20}
age = d.pop('age')
print(age)         # Output: 20
print(d)           # Output: {'name': 'Alice'}

address = d.pop('address', 'N/A')
print(address)     # Output: N/A (default value)

20
{'name': 'Alice'}
N/A

In [76]:
d = {"name": "Alice", "city":"Seoul"}
item=d.popitem()
print(item)       #Output : ('city','Seoul') (무작위 원소 리턴)

('city', 'Seoul')

In [77]:
d = {"name": "Alice", "age": 20}

# 'name'이라는 키가 존재하므로 해당 값인 'Alice'가 출력됩니다.
print(d.setdefault("name"))  # Output: Alice

# 'address'라는 키가 없으므로 주어진 기본값 'N/A'를 설정하고 반환합니다.
print(d.setdefault("address", "N/A"))  # Output: N/A

# 이제 딕셔너리 d를 출력해보면 'address': 'N/A' 항목이 추가된 것을 확인할 수 있습니다.
print(d)  # Output: {'name': 'Alice', 'age': 20, 'address': 'N/A'}

Alice
N/A
{'name': 'Alice', 'age': 20, 'address': 'N/A'}

In [78]:
d = {"name": "Alice", "age": 20}

# 다른 딕셔너리를 사용하여 업데이트합니다.
d.update({"city": "Seoul", "country": "South Korea"})
print(d)  # Output: {'name': 'Alice', 'age': 20, 'city': 'Seoul', 'country': 'South Korea'}

# 키/값 쌍을 가지는 iterable로부터 업데이트합니다.
d.update([("height", 170), ("weight", 60)])
print(d)  
# Output: {'name': 'Alice', 'age': 20, 'city': 'Seoul', 
#          'country': 'South Korea', 
#          'height': 170, 
#          'weight': 60}

{'name': 'Alice', 'age': 20, 'city': 'Seoul', 'country': 'South Korea'}
{'name': 'Alice', 'age': 20, 'city': 'Seoul', 'country': 'South Korea', 'height': 170, 'weight': 60}

In [79]:
d = {"name":"Alice","city":"Seoul"}
print(d.values())     #Output : dict_values(['Alice','Seoul'])

dict_values(['Alice', 'Seoul'])

#### 타입 변환

In [80]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [81]:
my_list = [1, 2, 3, 4]
my_set = set(my_list)
print(my_set)     # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [82]:
my_tuple = (1, 2 ,3 ,4)
my_list = list(my_tuple)
print(my_list)     # Output: [1 ,2 ,3 ,4]

[1, 2, 3, 4]

In [83]:
my_tuple=(1 ,2 ,3 ,4)
my_set=set(my_tuple)
print(my_set )      #Output : {1 ,2 ,3 ,4}

{1, 2, 3, 4}

In [85]:
my_set={1 ,2 ,"a" ,"b"}
my_list=list( my_set )
print( my_list )       #Output :[ 'b' ,'a' ,'c' ,'d']

[1, 2, 'a', 'b']

In [86]:
myTuple=tuple( my_set )
print( myTuple )      #Output :( 'b' ,'a' ,'c' ,'d')

(1, 2, 'a', 'b')

### Chapter 7: 파이썬의 함수 이해와 활용

In [88]:
def greet():
    print("Hello, world!")

greet()   # Output: Hello, world!

Hello, world!

In [89]:
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")   # Output: Hello, Alice!

Hello, Alice!

In [90]:
def add(a, b):
    return a + b
result = add(3, 4)
print(result)   # Output: 7

7

In [91]:
def greet(name="world"):
    print(f"Hello, {name}!")

greet()          # Output: Hello, world!
greet("Alice")   # Output: Hello, Alice!

Hello, world!
Hello, Alice!

In [92]:
def divide(numerator, denominator):
    return numerator / denominator

print(divide(numerator=20, denominator=4))  # Output: 5.0

5.0

In [94]:
def add(x, y):
    return x + y

print(add(5, 3))  # Output: 8

8

In [95]:
add = lambda x, y: x + y

print(add(5, 3))  # Output: 8

8

In [96]:
numbers = [4, 2, 6, 1]
sorted_numbers = sorted(numbers, key=lambda x: x**2)
print(sorted_numbers) # Output: [1, 2, 4, 6]

[1, 2, 4, 6]

### Chapter 8: 파이썬의 파일 입출력

In [109]:
with open('example.txt', 'w') as f:
    f.write('Hello, World!')

In [110]:
file = open("example.txt", 'r')
content = file.read()
print(content)
file.close()

Hello, World!

In [102]:
file = open("example.txt", 'r')
while True:
    line = file.readline()
    if not line: 
        break
    print(line)
file.close()

Hello, World!

In [103]:
file = open("example.txt", 'r')
lines = file.readlines()

for line in lines:
    print(line)

file.close()

Hello, World!

In [104]:
with open('example.txt', 'r') as f:
    lines = f.readlines()

for line in lines:
    print(line)

Hello, World!

In [105]:
file = open("example.txt", 'w')
file.write("Hello, World!")
file.close()

In [106]:
lines = ["Hello, World!\n", "Welcome to Python.\n", "Enjoy learning!\n"]

with open("example.txt", 'w') as file:
    file.writelines(lines)

In [107]:
with open('example.txt', 'w') as f:
    f.write('Hello, World!')

In [108]:
with open('example.txt', 'a') as f:
    f.write('\nThis is an additional line.')


### Chapter 9: 파이썬의 예외 처리

In [111]:
try:
    print(5 / 0)  # 이 코드는 ZeroDivisionError를 일으킵니다.
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

In [113]:
try:
    num = int(input("Enter a number: "))  # 문자열을 입력하면 ValueError가 발생합니다.
    print(5 / num)  # num이 0일 경우 ZeroDivisionError가 발생합니다.
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("You must enter a number!")

You must enter a number!

In [114]:
try:
    f = open('example.txt', 'r')
    # 파일 관련 처리
except FileNotFoundError:
    print('File not found.')
finally:
    f.close()  # 파일은 어떤 상황에서든 닫혀야 합니다.

In [115]:
age = -1

if age < 0:
    raise ValueError("Age cannot be negative")

ValueError: Age cannot be negative

### Chapter 10. 클래스와 객체지향 프로그래밍

In [1]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} says woof!")

In [2]:
my_dog = Dog("Puppy", 1)
my_dog.bark()  # Puppy says woof!

Puppy says woof!

In [3]:
class Bulldog(Dog):  
    def run(self):
        print(f"{self.name} is running!")

my_bulldog = Bulldog("Tom", 4)
my_bulldog.bark()  # Outputs: Tom says woof!
my_bulldog.run()   # Outputs: Tom is running!

Tom says woof!
Tom is running!

In [4]:
class Dog:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age

    def get_age(self):  
        return self.__age

    def set_age(self, age):  
        if age > 0:
            self.__age = age
            
my_dog = Dog("Fido", 3)
print(my_dog.get_age())  # Outputs: 3
my_dog.set_age(4)
print(my_dog.get_age())  # Outputs: 4

3
4

In [5]:
class Cat:
    def sound(self):
        return 'meow'

class Dog:
    def sound(self):
        return 'woof'

def make_sound(animal_type):
    print(animal_type.sound())

cat_obj = Cat()
dog_obj = Dog()

make_sound(cat_obj)   # Outputs: meow
make_sound(dog_obj)   # Outputs: woof

meow
woof

In [6]:
class Math:
    def __init__(self, teacher_name, grade):
        self.teacher_name = teacher_name
        self.grade = grade

    def description(self):
        print(f"This is a {self.grade} grade math class taught by {self.teacher_name}.")

In [7]:
math_6th = Math("Hong Gil-dong", "6th")
math_3rd = Math("Lee Soon-shin", "3rd")

math_6th.description()  # This is a 6th grade math class taught by Hong Gil-dong.
math_3rd.description()  # This is a 3rd grade math class taught by Lee Soon-shin.

This is a 6th grade math class taught by Hong Gil-dong.
This is a 3rd grade math class taught by Lee Soon-shin.

In [8]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"안녕하세요, 제 이름은 {self.name}이고 나이는 {self.age}살입니다.")

In [9]:
student1 = Student("John", 15)
student2 = Student("Jane", 14)

student1.introduce()  # 출력: 안녕하세요, 제 이름은 John이고 나이는 15살입니다.
student2.introduce()  # 출력: 안녕하세요, 제 이름은 Jane이고 나이는 14살입니다.

안녕하세요, 제 이름은 John이고 나이는 15살입니다.
안녕하세요, 제 이름은 Jane이고 나이는 14살입니다.

In [10]:
class Student:
    count = 0  # 모든 학생들에게 공통되는 속성

    def __init__(self, name, age):
        self.name = name
        self.age = age
        Student.count += 1

    def introduce(self):
        print(f"안녕하세요, 제 이름은 {self.name}이고 나이는 {self.age}살입니다.")

print(Student.count)   # 출력: 0

student1 = Student("John", 15)
print(Student.count)   # 출력: 1

student2 = Student("Jane", 14)
print(Student.count)   # 출력: 2

0
1
2

In [11]:
class Student:
    def __init__(self, name, age):
        self.name = name  # 인스턴수 변수
        self.age = age  # 인스턴수 변수

student1 = Student("John", 15)
student2 = Student("Jane", 14)

print(student1.name)   # 출력: John
print(student2.name)   # 출력: Jane

John
Jane

In [12]:
class Student:
    count = 0  # 클래스변수

    def __init__(self, name, age):
        self.name = name  
        self.age = age  
        Student.count += 1

student1 = Student("John", 15)
student2 = Student("Jane", 14)

print(Student.count)   # 출력: 2

2

### Chapter 11: 파이썬 모듈과 패키지

In [16]:
# greetings.py

def say_hello(name):
    print(f"안녕하세요, {name}님!")

def say_goodbye(name):
    print(f"안녕히 가세요, {name}님!")

greetings = """
def say_hello(name):
    print(f"안녕하세요, {name}님!")

def say_goodbye(name):
    print(f"안녕히 가세요, {name}님!")
"""

f=open("greetings.py","w")
f.write(greetings)
f.close()

In [17]:
import greetings

greetings.say_hello("John")   # 출력: 안녕하세요, John님!
greetings.say_goodbye("John") # 출력: 안녕히 가세요, John님!

안녕하세요, John님!
안녕히 가세요, John님!

In [18]:
from greetings import say_hello

say_hello("Jane")   # 출력: 안녕하세요, Jane님!

안녕하세요, Jane님!

In [20]:
import math

angle_in_degrees = 45
angle_in_radians = math.radians(angle_in_degrees)  # 각도를 라디안으로 변환

print("sin(45°): ", math.sin(angle_in_radians))    # 출력: sin(45°): 0.7071067811865476
print("cos(45°): ", math.cos(angle_in_radians))    # 출력: cos(45°): 0.7071067811865476
print("π: ", math.pi)                              # 출력: π: 3.141592653589793

sin(45°):  0.7071067811865476
cos(45°):  0.7071067811865476
π:  3.141592653589793

In [21]:
import math

x = 2

print("e^2: ", math.exp(x))                        # 출력: e^2: 7.38905609893065
print("log_e(7.38905609893065): ", math.log(math.exp(x)))   # 출력: log_e(7.38905609893065): 2.0

e^2:  7.38905609893065
log_e(7.38905609893065):  2.0

In [22]:
import math

x = 4
y = 2

print("4^2:", math.pow(x, y))                      # 출력 : "4^2:"16 
print("sqrt(16):",math.sqrt(math.pow(x, y)))       # 출력 : "sqrt(16)":4

4^2: 16.0
sqrt(16): 4.0

In [23]:
import datetime

now = datetime.datetime.now()
print("현재 날짜와 시간: ", now)  
# 출력 형태: "현재 날짜와 시간: 2023-09-16 23:44:40.123456" (실행한 시점에 따라 결과는 다르게 나타납니다)

현재 날짜와 시간:  2023-09-17 14:05:39.510941

In [24]:
import datetime

some_day = datetime.datetime(2023, 9, 16, 23, 44, 40)
print("특정 날짜와 시간: ", some_day)  
# 출력 형태: "특정 날짜와 시간: 2023-09-16 23:44:40"

특정 날짜와 시간:  2023-09-16 23:44:40

In [25]:
import datetime

date1 = datetime.date(2023,9,16)
date2 = datetime.date(2024,9,16)

diff = date2 - date1
print("두 날짜 사이의 차이는 {}일입니다.".format(diff.days))  
# 출력 형태 : "두 날짜 사이의 차이는 365일입니다."

두 날짜 사이의 차이는 366일입니다.

In [29]:
import os

current_dir = os.getcwd()
print("현재 디렉토리: ", current_dir)

현재 디렉토리:  c:\JAKorea\JAkorea\JAkorea\Chat GPT

In [30]:
import os

os.chdir('../')  # '/path/to/your/directory'를 원하는 경로로 변경해주세요.
print("변경된 디렉토리: ", os.getcwd())

변경된 디렉토리:  c:\JAKorea\JAkorea

In [31]:
import os

files_and_dirs = os.listdir('.')  # 현재 디렉토리의 파일 및 하위 디렉토리 목록 출력
print(files_and_dirs)

['.git', 'JAkorea', 'README.md']

In [32]:
import os

os.mkdir('new_directory')  # 현재 작업 경로에 'new_directory'라는 이름의 새 폴더 생성
print(os.listdir('.'))  # 새롭게 생성된 폴더가 포함된 파일 및 하위 디렉토리 목록 출력

['.git', 'JAkorea', 'new_directory', 'README.md']

In [33]:
import os

os.rename('new_directory', 'renamed_directory')  # 'new_directory'를 'renamed_directory'로 이름 변경 
print(os.listdir('.'))  # 이름이 바뀐 폴더가 포함된 파일 및 하위 디렉토리 목록 출력

['.git', 'JAkorea', 'README.md', 'renamed_directory']

In [34]:
import random

print(random.random())

0.7538708426110612

In [35]:
import random

print(random.randint(1, 10))

2

In [36]:
import random

numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

[1, 5, 4, 2, 3]

In [37]:
import random

fruits = ['apple', 'banana', 'cherry']
print(random.choice(fruits))

banana

In [38]:
import random

numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

[3, 5, 1, 2, 4]

In [39]:
import random

numbers = [1, 2, 3, 4, 5]
print(random.sample(numbers, 3))

[5, 1, 2]

In [60]:
# animals/
#     __init__.py
#     bird.py
#     mammal.py

import os

current_dir = os.getcwd()
print("현재 디렉토리: ", current_dir)
os.chdir('C:/JAKorea/JAkorea/JAkorea/Chat GPT/src/') #dir 변경
if not os.path.exists('animals'):
    os.mkdir('animals')

file = open("./animals/bird.py", 'w')
birs_fly = """
def fly():
    print("새가 날아 갑니다")
"""
file.write(birs_fly)
file.close()
file = open("./animals/__init__.py", 'w')
file.write("pass")
file.close()
file = open("./animals/mammal.py", 'w')
file.write("pass")
file.close()

현재 디렉토리:  C:\JAKorea\JAkorea\JAkorea\Chat GPT\src

In [58]:
from animals.bird import fly

fly()

새가 날아 갑니다

In [59]:
import animals.bird as bird

bird.fly()

새가 날아 갑니다